* {
    font-family: 'Press Start 2P', cursive;
}

header{
    color: #3A6B35;
    display: flex;
    justify-content: center;
    font-size: larger;
}

.choice {
    display: flex;
    justify-content: center;
}

.choice img{
    margin: 10px 35px;
    height: 100px;
    width: 100px;
}

.choice-buttons{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.choice-buttons button {
    width: 150px;
    height: 50px;
    border-radius: 15px;
    border: none;
}

.choice-buttons button:hover{
    opacity: 0.8;
    cursor: pointer;
}

#scissors-btn{
    background-color: #E3B448;
}

#paper-btn{
    background-color: #E3B448;
}

#rock-btn{
    background-color: #E3B448;
}

h2{
    color: #3A6B35;
    text-align: center;
    font-size: large;
    margin: 40px 0;
}

.score{
    color: #3A6B35;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: 20px 0;
}

#computer-wins, #player-wins{
        color: #CBD18F;
        font-size: larger;
        padding: 20px 0;
}

.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.container button{
    width: 150px;
    height: 50px;
    border-radius: 15px;
    border: none;
    margin: 0 auto;
    background-color: #E3B448;
}
.container button:hover{
    cursor: pointer;
    opacity: 0.8;
}